@import url('https://fonts.googleapis.com/css?family=Gill+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans";
}

.banner {
    background: url("banner.png") top center repeat-x;
    min-height: 561px;
}

.main-nav {
    position: fixed;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    margin-top: 75px;
    list-style: none;
    width: 125px;
}

.main-nav ul li {
    margin: 1px 0px;
    display: block;
    min-width: 90px;
    position: relative;
    border-radius: 15px;
    border: 0;
    background-color: rgb(16,165,135);
    text-transform: uppercase;
}

.main-nav li > a span{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 35px;
    left: 5px;
	color: black;
	font-size: 24px;
	opacity: 0;
	transition: opacity 0.3s linear;
}

.main-nav li > a .spanmodified{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 35px;
    left: 25px;
	color: black;
	font-size: 24px;
	opacity: 0;
	transition: opacity 0.3s linear;
}

.main-nav li > a img {
    transition: opacity 0.3s linear;
}

.main-nav li > a:hover span{
	opacity: 1;
}

.main-nav li > a:hover img{
	opacity: 0;
}

.nav-btn a {
    width: 100%;
}
.nav-btn img {
    vertical-align: middle;
    width: 75px;
    height: auto;
    padding: 15px 0px;
    padding-left: 20px;
}

a {
    text-decoration: none !important;
    color: white;
}

.container {
    padding-top: 100px;
    text-align: center;
}

.banner-circle {
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(16,165,135, .8);
    height: 350px;
    width: 350px;
}

.inner-circle {
    margin-top: 9px;
    
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 330px;
    height: 330px;
}

.mt70 {
    margin-top: 70px !important;
}

.work {
    background: url("bg-charcoal.png") 0 0 repeat;
}

.scroll {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 500px;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    border: solid 1px white;
}

.scroll ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0px 10px;
}

.scroll li {
    position: relative;
    margin: 10px 0px;
}

.scroll img {
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.scroll li > a span{
	position: absolute;
	width: 150px;
	height: 150px;
	top: 100px;
	left: 150px;
	text-align: center;
	line-height: 150px;
	color: rgba(27,54,81,0.8);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size: 24px;
	opacity: 0;
	background: 
		radial-gradient(
			center, 
			ellipse cover, 
			rgba(255,255,255,0.56) 0%,
			rgba(241,210,194,1) 100%
		);
	transition: opacity 0.3s linear;
}
.scroll li > a:hover span{
	opacity: 1;
}

.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: 
		radial-gradient(
			center, 
			ellipse cover, 
			rgba(255,255,255,0.56) 0%,
			rgba(241,210,194,1) 100%
		);
}

.lb-overlay a.lb-close{
	background: none;
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
}

.lb-overlay img{
    max-height: 100%;
    height: auto;
    width: auto;
	position: relative;
	opacity: 0;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	transition: opacity 0.5s linear;
}

.lb-overlay:target {
    background: rgba(0,0,0,.8);
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}

.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
}

.about .left {
    max-width: 250px;
    text-align: center !important;
}

.about {
    padding-bottom: 50px;
}

.bio .left {
    max-width: 250px;
    text-align: center !important;
}

.bio {
    padding-bottom: 50px;
}

.about-me-pic {
    margin-top: 30px;
    border-radius: 50%;
    width: 250px;
    height: auto;
}

.about-me-resume {
    margin-top: 30px;
    width: 250px;
    height: auto;
}

.form input {
    border: 0;
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    width: 300px;
    display: block;
    margin-top: 5px;
}

.form textarea {
    border: 0;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    width: 300px;
}